body{
    background: #121212 ;
}

.container{
    max-width: 380px;
    margin: auto;
    box-shadow: 0.2px 0.2px 0.2px 1.5px rgba(102, 99, 99, 0.781);
    border: 5px solid rgba(0, 0, 0, 0.774);
    border-radius: 5px;
}

.display{
    color: white;
    text-align: right;
    height: 70px;
    padding: 5px 5px;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(31, 31, 37), rgb(53, 71, 77));
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 5px solid rgba(0, 0, 0, 0.788);
}
.previous-value{
    color: rgba(255, 255, 255, 0.815);
}
.current-value{
    margin-top: 15px;
    color: white;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    width: 380px;
    height: 450px;
    font-size: 20px;
    
}   

.buttons > div{
    border-top: 0.5px solid rgb(179, 173, 173);
    border-right: 0.5px solid rgb(179, 173, 173);
    border-bottom: 0.5px solid rgb(179, 173, 173);
}

button{
    text-align: center;
    line-height: 65px;
    cursor: pointer;
    font-size: 20px;
    background: #5858585b;
    color: white;
    
}
.button:hover{
    background: rgba(204, 199, 199, 0.897);
    font-size: 27px;
    transition: 0.25s;
}

#equal{
    background: rgb(114, 157, 236) ;
    color: white;
    font-size: 30px;
}